{%extends 'base.html' %} {% block content%}
<section class="main">
	<div class="main__text">
		<img
			src="../static/img/starbucks-clipart-circle-6.png"
			width="150px"
			height="115px"
		/>
		<h1>Starbucks corp.</h1>
		<p>
			Starbucks Corporation is an American multinational chain of coffeehouses
			and roastery reserves headquartered in Seattle, Washington. It is the
			world's largest coffeehouse chain.
		</p>

		<p>
			As of November 2021, the company had 33,833 stores in 80 countries, 15,444
			of which were located in the United States. Out of Starbucks' U.S.-based
			stores, over 8,900 are company-operated, while the remainder are
			licensed.[3]
		</p>

		<p>
			The rise of the second wave of coffee culture is generally attributed to
			Starbucks, which introduced a wider variety of coffee experiences.
			Starbucks serves hot and cold drinks, whole-bean coffee, micro-ground
			instant coffee, espresso, caffe latte, full and loose-leaf teas, juices,
			Frappuccino beverages, pastries, and snacks. Some offerings are seasonal,
			or specific to the locality of the store. Depending on the country, most
			locations provide free Wi-Fi internet access
		</p>
		<h2>Company overview</h2>
		<p>
			Starbucks was founded in 1971 by Jerry Baldwin, Zev Siegl, and Gordon
			Bowker at Seattle's Pike Place Market. During the early 1980s, they sold
			the company to Howard Schultz who – after a business trip to Milan, Italy
			– decided to convert the coffee bean store into a coffee shop serving
			espresso-based drinks. As chief executive officer from 1986 to 2000,
			Schultz's first tenure led to an aggressive expansion of the franchise,
			first in Seattle, then across the West Coast of the United States. Schultz
			was succeeded by Orin Smith who ran the company for five years and
			positioned Starbucks as a large player in fair trade coffee, increasing
			sales to US$5 billion. Jim Donald served as chief executive officer from
			2005 to 2008, orchestrating a large-scale earnings expansion. Schultz
			returned as CEO during the financial crisis of 2007–08 and spent the
			succeeding decade growing the company's market share, expanding its
			offerings, and reorienting the brand around corporate social
			responsibility. Kevin Johnson, the current CEO, succeeded Schultz in 2017.
			In March 2022, Starbucks announced that Schultz would return as CEO in
			April 2022.[4] In addition to drinks and food, many stores carry
			Starbucks' official merchandise, such as mugs, tumblers, scoops, and
			coffee presses. There are also several select "Starbucks Evenings"
			locations that offer beer, wine, and appetizers. Starbucks-brand coffee,
			ice cream, and bottled cold coffee drinks are sold at grocery stores in
			the United States and other countries. In 2010, the company began its
			Starbucks Reserve program for single-origin coffees and high-end coffee
			shops. It planned[needs update] to open 1,000 Reserve coffee shops by the
			end of 2017.[5] Starbucks operates six roasteries with tasting rooms and
			43 coffee bars as part of the program. The latest roastery location opened
			on Chicago's Magnificent Mile in November 2019, and is the world's largest
			Starbucks location. The company has been subject to multiple controversies
			related to its business practices. Conversely, its franchise has commanded
			substantial brand loyalty, market share, and company value.
		</p>
		<h2>History</h2>
		<p>
			20th century 1970s Starbucks originally opened in Seattle, Washington, on
			March 30, 1971.[8] It was founded by business partners Jerry Baldwin, Zev
			Siegl and Gordon Bowker who first met as students at the University of San
			Francisco:[9] The trio were inspired to sell high-quality coffee beans and
			equipment by coffee roasting entrepreneur Alfred Peet.[10] Bowker recalls
			that a business partner of his, Terry Heckler, thought words beginning
			with the letters "st" were powerful, leading the founders to create a list
			of words beginning with "st," hoping to find a brand name. They chose
			"Starbo," a mining town in the Cascade Range and from there, the group
			remembered "Starbuck," the name of the chief mate in the book
			Moby-Dick.[11] Bowker said, "Moby-Dick didn't have anything to do with
			Starbucks directly; it was only coincidental that the sound seemed to make
			sense."[11][12] The first Starbucks store was located in Seattle at 2000
			Western Avenue from 1971 to 1976. They later moved the café to 1912 Pike
			Place.[13] During this time, Starbucks stores sold just coffee beans and
			not drinks.[14] In its first two years of operation, Starbucks purchased
			green coffee beans from Peet's Coffee & Tea,.[15] In 1973, Alfred Peet
			stopped supplying Starbucks and helped train their new Roastmaster, Jim
			Reynolds
		</p>
	</div>
</section>
<style>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	.main {
		margin-bottom: 100px;
		margin-top: 20px;
	}
	.main__text {
		max-width: 900px;
		text-align: center;
		margin: 0 auto;
	}
	.main__cards {
		display: flex;
		justify-content: center;
		gap: 40px;
		margin-top: 50px;
	}
	.main__cards-item {
		width: 300px;
		/* padding: 15px; */
		text-align: center;
		border: 0.5px solid black;
		border-radius: 5px;
	}
	.main__cards-title {
		margin-bottom: 35px;
		border-bottom: 0.2px solid #000;
		padding: 15px 0;
		background: rgb(213, 212, 212);
	}
	.main__cards-text {
		padding: 15px;
	}
	.grey {
		color: rgb(177, 177, 177);
	}

	.main__cards-text button {
		width: 250px;
	}
	footer {
		width: 980px;
		margin: 0 auto;
		padding-top: 50px;
		border-top: 0.5px solid #000;
		display: flex;
		align-items: center;
		gap: 200px;
	}
	.footer__logo img {
		width: 25px;
		height: 20px;
	}
	.gray {
		color: rgb(162, 160, 160);
	}
	.footer__nav {
		display: flex;
		align-items: center;
		gap: 100px;
	}

	.nav__title {
		font-size: 20px;
		font-weight: 600;
	}
	.footer__list {
		margin-top: 20px;
		list-style: none;
		padding-left: unset;
	}
</style>
{%endblock content%}
